@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  height: 100dvh;
  width: 100dvw;
  background-color: #EFF6FF;
}

@media (prefers-color-scheme: dark) {
  body,
  #root {
    background-color: #293132;
  }
}